* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* nagłówek */
header {
    background-color: #666;
    padding: 5px;
    text-align: center;
    color: white;
}

/* Dwie kolumny */
nav {
    float: left;
    width: 10%;
    background: #b7b9b5;
    padding: 20px;
	overflow: visible;
}

/* menu*/
nav ul {
    list-style-type: none;
    padding: 0;
	text-align: center;
	line-height: 2.5;
}

.element4 {
background-color: green;
width: 70px;
border: 5px;
margin: 5px;
padding: 5px;
text-align: center;
}

article {
    float: left;
    padding: 20px;
    width: 90%;
    background-color: #f1f1f1;
	overflow: visible;
}

/* czyszczenie */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Stopka */
footer {
    background-color: #d7dbd7;
    padding: 1px;
    text-align: center;
    color: black;
}

pr {color: red;}

.logo{
	width: 65px;
	height: 65px;
	margin: auto;
}
.pkt1 {
	width: 100px;
	height: 100px;
	background-color: blue;
	position: fixed;
	right: 10px;
	bottom: 100px;
	text-align: center;
}
.pkt2{
	overflow: visible;	
}
.pkt2box {
	width: 50px;
	height: 50px;
	background-color: red;
	float: left;
	margin:5px;
}
.art{
	clear: both;
}
h3{
	font-family: Verdana;
	text-align: center;
	background-color: gray;
	border: 1px dotted black;
	border-radius: 5px;
}

a:link{
	background-color: #999;
	border: 1px dotted black;
}

a:hover{
	background-color: white;
}
a:active{
	font-size: 20px;
}



/* Responsywność */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}